*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3.5rem;
  min-height: 100vh;
  overflow-x: hidden;
  background: #ffcf3b;
  font-family: Arial, Helvetica, sans-serif; }
  @media only screen and (max-width: 800px) {
    body {
      background: blue; } }
  @media only screen and (max-width: 700px) {
    body {
      background: linen; } }
  @media only screen and (max-width: 600px) {
    body {
      background: burlywood;
      color: #fff; } }
  @media only screen and (max-width: 500px) {
    body {
      background: lightgreen;
      color: #fff; } }
  @media only screen and (max-width: 380px) {
    body {
      background: mediumslateblue;
      color: #000000; } }
  @media only screen and (max-width: 320px) {
    body {
      background: red; } }

@font-face {
  font-family: Helvetica Bold;
  src: url("../../fonts/helvetica_bold.ttf") format("opentype"); }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fee600;
  height: 7.5rem;
  padding: 2rem 3rem; }
  .header__logo {
    height: 15rem;
    width: 15rem;
    transform: translate(-3.8rem, 1rem); }
    .header__logo img {
      object-fit: cover;
      display: block;
      height: 14rem;
      width: 14rem; }
  .header__menu--mobile {
    display: flex;
    flex-direction: column; }
    .header__menu--mobile span {
      height: 0.6rem;
      width: 4rem;
      border-radius: 3rem;
      background: #000000;
      display: inline-block;
      margin: 0.3rem 0; }
