<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../fonts/helvetica.ttf" />
    <link rel="stylesheet" href="../fonts/helvetica_bold.ttf" />
    <link rel="stylesheet" href="../fonts/lunchbox.otf" />

    <title>Document</title>
  </head>
  <style>
    .container {
      opacity: 0;
    }
  </style>
  <script>
    function revealBody() {
      const container = document.querySelector(".container");
      container.style.opacity = `1`;
    }
  </script>
  <body onload="revealBody()">
    <div class="container">
      <header class="header">
        <a class="header__logo-link" href="index.html">
          <figure class="header__logo">
            <img src="../imgs/chef-logo.png" alt="" />
          </figure>
        </a>
  
        <input
          class="header__check"
          type="checkbox"
          name="header__check"
          id="header-check"
        />
  
        <label for="header-check" id="header-label" class="header__label">
          <div class="header__menu--mobile">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </label>
  
        <div class="header__menu">
          <span class="header__menu--item"
            ><a href="about.html">About Us</a></span
          >
          <!--<span class="header__menu--item">Contact</span>-->
          <span class="header__menu--item"
            ><a href="variants.html">Products</a></span
          >
          <span class="header__menu--item">
            <figure>
              <img src="../imgs/search-logo.png" alt="" />
            </figure>
          </span>
        </div>
  
        <div class="header__dropdown">
          <span class="header__dropdown--item"
            ><a href="about.html">About Us</a></span
          >
          <!--<span class="header__dropdown--item">Contact</span>-->
          <span class="header__dropdown--item"
            ><a href="variants.html">Products</a></span
          >
  
          <div
            class="header__dropdown--item header__dropdown--socials"
            class="header__dropdown--socials"
          >
            <p>Follow and connect with Chief chips</p>
            <div class="header__dropdown--svgs">
              <span>
                <svg>
                  <use xlink:href="../imgs/sprite.svg#icon-twitter"></use>
                </svg>
              </span>
              <span>
                <svg>
                  <use xlink:href="../imgs/sprite.svg#icon-instagram"></use>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </header>
      <div class="flavour__container">
        <div class="flavour__directions flavour__directions--next">
          <span>
              <svg>
                <use xlink:href="../imgs/sprite.svg#icon-navigate_next"></use>
              </svg>
            </span>
      </div>
      <div class="flavour__directions flavour__directions--prev">
          <span>
              <svg>
                <use xlink:href="../imgs/sprite.svg#icon-navigate_before"></use>
              </svg>
            </span>
      </div>
        <h2  class="flavour__h2">Find your Flavor</h1>
        <div class="flavour__slider">
          <div class="flavour__body">
            <div class="flavour__body--figparent">
              <figure class="flavour__body--fig"></figure>
            </div>
  
            <div class="flavour__body--details">
              <h2>Lightly salted variant</h2>
              <div class="flavour__body--details-description">
                <p>Our cassava chips start off its journey with the daily harvest of fresh cassava tubers that are processed into these golden chips full of flavour. We lightly salt it to keep as much as the original flavour intact and yet accent with a bit of salt for a full flavour that keeps one reaching out for more.</p>
              </div>
  
              <div class="flavour__body--details-nutrition">
                <input class="flavour__body--details-checkbox" type="checkbox" name="" id="nutrition-check">
  
                <label for="nutrition-check" id="nutrition-label">
                  <h2>
                    <span>
                      <svg>
                        <use xlink:href="../imgs/sprite.svg#icon-plus"></use>
                      </svg>
                    </span>
                    <span>Nutritious facts</span>
                  </h2>
                </label>
                
                <div class="flavour__body--details-nutritionlist">
                  <section>
                    <div class="flavour__section--nutrition">
                      <span>Serving Size: 35g</span>
                      <span>Amount per pack:</span>
                      <span>
                        <p>Calories 187.5</p>
                        <p>Calories from Fat 101.3</p>
                      </span>
                    </div>
                  </section>
                  <section>
                    <div class="flavour__section--nutrition">
                      <span>
                        <p>Total Fat 11.3g</p>
                        <p>17%</p>
                      </span>
                      <span>
                        <p>Saturated Fat 5g</p>
                        <p>25%</p>
                      </span>
                      <span>
                        <p>Trans Fat 0g</p>
                        <p></p>
                      </span>
                      <span>
                        <p>Cholesterol 0g</p>
                        <p>0%</p>
                      </span>
                      <span>
                        <p>Total Carbohydrates 21.3g</p>
                        <p>7%</p>
                      </span>
                      <span>
                        <p>Dietary Fiber 1.3g</p>
                        <p>5%</p>
                      </span>
                      <span>
                        <p>Sugar 3.8g</p>
                        <p></p>
                      </span>
                      <span>
                        <p>Protein 0.6g</p>
                      </span>
                    </div>
                  </section>
                  <section>
                    <div class="flavour__section--nutrition">
                      <span>
                        <p>Vitamin A</p>
                        <p>0%</p>
                      </span>
                      <span>
                        <p>Vitamin C</p>
                        <p>2.5%</p>
                      </span>
                      <span>
                        <p>Calcium</p>
                        <p>2.5%</p>
                      </span>
                      <span>
                        <p>Iron</p>
                        <p>0%</p>
                      </span>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>

          <div class="flavour__body">
            <div class="flavour__body--figparent">
              <figure class="flavour__body--fig"></figure>
            </div>
  
            <div class="flavour__body--details">
              <h2>Red hot pepper variant</h2>
              <div class="flavour__body--details-description">
                <p>The red hot pepper flavour is not for the faint of heart, it is for those that enjoy a peppery kick. As always, we start off the process with the daily harvest of fresh cassava tubers that are processed into these golden chips full of flavour. Then we flavour it with only the finest quality  chilli peppers. When we think we have put enough, we sprinkle a bit more just for that  extra heat!</p>
              </div>
  
              <div class="flavour__body--details-nutrition">
                <input class="flavour__body--details-checkbox" type="checkbox" name="" id="nutrition-check">
  
                <label for="nutrition-check" id="nutrition-label">
                  <h2>
                    <span>
                      <svg>
                        <use xlink:href="../imgs/sprite.svg#icon-plus"></use>
                      </svg>
                    </span>
                    <span>Nutritious facts</span>
                  </h2>
                </label>
                
                <div class="flavour__body--details-nutritionlist">
                  <section>
                    <div class="flavour__section--nutrition">
                      <span>Serving Size: 35g</span>
                      <span>Amount per pack:</span>
                      <span>
                        <p>Calories 187.5</p>
                        <p>Calories from Fat 101.3</p>
                      </span>
                    </div>
                  </section>
                  <section>
                    <div class="flavour__section--nutrition">
                      <span>
                        <p>Total Fat 11.3g</p>
                        <p>17%</p>
                      </span>
                      <span>
                        <p>Saturated Fat 5g</p>
                        <p>25%</p>
                      </span>
                      <span>
                        <p>Trans Fat 0g</p>
                        <p></p>
                      </span>
                      <span>
                        <p>Cholesterol 0g</p>
                        <p>0%</p>
                      </span>
                      <span>
                        <p>Total Carbohydrates 21.3g</p>
                        <p>7%</p>
                      </span>
                      <span>
                        <p>Dietary Fiber 1.3g</p>
                        <p>5%</p>
                      </span>
                      <span>
                        <p>Sugar 3.8g</p>
                        <p></p>
                      </span>
                      <span>
                        <p>Protein 0.6g</p>
                      </span>
                    </div>
                  </section>
                  <section>
                    <div class="flavour__section--nutrition">
                      <span>
                        <p>Vitamin A</p>
                        <p>0%</p>
                      </span>
                      <span>
                        <p>Vitamin C</p>
                        <p>2.5%</p>
                      </span>
                      <span>
                        <p>Calcium</p>
                        <p>2.5%</p>
                      </span>
                      <span>
                        <p>Iron</p>
                        <p>0%</p>
                      </span>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="flavour__pagination">
          <span class="flavour__pagination--item flavour__pagination-0"></span>
          <span class="flavour__pagination--item flavour__pagination-1"></span>
          <span class="flavour__pagination--item flavour__pagination-2"></span>
          <span class="flavour__pagination--item flavour__pagination-3"></span>
          <span class="flavour__pagination--item flavour__pagination-4"></span>
          <span class="flavour__pagination--item flavour__pagination-5"></span>
        </div>
      </div>
    </div>
  </body>
</html>
