<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../fonts/helvetica.ttf" />
    <link rel="stylesheet" href="../fonts/helvetica_bold.ttf" />
    <link rel="stylesheet" href="../fonts/lunchbox.otf" />

    <title>Document</title>
</head>
<body>
    <header class="header">
        <a class="header__logo-link" href="/">
            <figure class="header__logo">
              <img src="../imgs/chef-logo.png" alt="" />
            </figure>
          </a>
  
        <input
          class="header__check"
          type="checkbox"
          name="header__check"
          id="header-check"
        />
  
        <label for="header-check" id="header-label" class="header__label">
          <div class="header__menu--mobile">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </label>
  
        <div class="header__menu">
          <span class="header__menu--item">About</span>
          <!--<span class="header__menu--item">Contact</span>-->
          <span class="header__menu--item">Product</span>
          <span class="header__menu--item">
            <figure>
              <img src="../imgs/search-logo.png" alt="" />
            </figure>
          </span>
        </div>
  
        <div class="header__dropdown">
          <span class="header__dropdown--item">About Us</span>
          <span class="header__dropdown--item">Contact</span>
          <span class="header__dropdown--item">Product</span>
  
          <div
            class="header__dropdown--item header__dropdown--socials"
            class="header__dropdown--socials"
          >
            <p>Follow and connect with Chief chips</p>
            <div class="header__dropdown--svgs">
              <span>
                <svg>
                  <use xlink:href="../imgs/sprite.svg#icon-twitter"></use>
                </svg>
              </span>
              <span>
                <svg>
                  <use xlink:href="../imgs/sprite.svg#icon-instagram"></use>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </header>
    <div class="product-container">
        <div class="flavour">
            <div class="flavour__directions flavour__directions--next">
                <span>
                    <svg>
                      <use xlink:href="../imgs/sprite.svg#icon-navigate_next"></use>
                    </svg>
                  </span>
            </div>
            <div class="flavour__directions flavour__directions--prev">
                <span>
                    <svg>
                      <use xlink:href="../imgs/sprite.svg#icon-navigate_before"></use>
                    </svg>
                  </span>
            </div>

            <h2  class="flavour__h2">Find your Flavor</h1>

            <div class="flavour__slide">
                <div class="flavour__container">

                    <figure>
                        
                    </figure>

                    <div class="flavour__container--details">
                        <h2 class="flavour__header">Cassava Chips</h2>

                        <div class="flavour__container--details-description">
                            <p>Lay’s Cheddar Jalapeno brings the crispy bite you love from your favorite Lay’s potato chip with the delicious combination of cheddar cheese and jalapeno. This new product is sure to deliver a cheesy, with a kick, flavor!</p>
                        </div>
                        <div class="flavour__container--details-ingredients">
                            <input class="flavour__container--details-ingredients-check" type="checkbox" name="" id="nutrition-check">
                            <div class="flavour__container--details-ingredients-header ingredient-h2">
                                <h2>
                                    <label for="nutrition-check" id="nutrition-label">
                                        <svg>
                                            <use xlink:href="../imgs/sprite.svg#icon-plus"></use>
                                        </svg>
                                    </label>
                                    <span>Nutritious facts</span></h2>
                            </div>
                            <div class="flavour__container--details-ingredients-body ingredient-body">
                                <figure></figure>
                            </div>
                        </div>
                    </div>
    
                </div>

                <div class="flavour__container">

                    <figure>
                        
                    </figure>

                    <div class="flavour__container--details">
                        
                    </div>
    
                </div>
            </div>
        </div>

        <div class="flavour__nav">
            <span class="flavour__nav--span"></span>
            <span class="flavour__nav--span"></span>
            <span class="flavour__nav--span"></span>
            <span class="flavour__nav--span"></span>
            <span class="flavour__nav--span"></span>
            <span class="flavour__nav--span"></span>
        </div>
    </div>
</body>
</html>