.variants {
  display: flex;
  flex-direction: column;

  position: relative;
  height: 76rem;
  margin-top: 2rem;
  background-image: url('../imgs/product-hanger.jpg');
  padding: 5rem 7rem;
  overflow: hidden;

  @include respond(tab-port) {
    padding: 5rem 3rem;
  }

  @include respond(phone) {
    padding: 5rem 1rem;
    height: 53rem
  }

  &__navi {
    position: absolute;
    top: 0;
    height: 100%;
    width: 5rem;
    overflow: hidden;
    display: flex;
    align-items: center;

    @include respond(tab-land) {
      display: none;
    }

    & span {
      cursor: pointer;
      display: inline-block;
      overflow: hidden;

      & svg {
        height: 7rem;
        width: 7rem;
        fill: #000000;
      }
    }

    &--left {
      left: 0;
      justify-content: start;
    }

    &--right {
      right: 0;
      justify-content: start;

      & span {
        transform: translateX(-2rem);
      }
    }
  }

  &__h2 {
    position: relative;
    font-size: 9rem;
    color: rgba(30, 39, 46, 0.6);
    z-index: 2;
    margin-bottom: 4rem;

    @include respond(phone) {
      font-size: 6rem;
    }
  }

  &__slide {
    display: flex;
    flex-shrink: 0;
  }

  &__items {
    display: flex;
    overflow: hidden;
    flex-shrink: 0;

    &:nth-child(2) {
      transform: translateX(50rem);
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__item {
    height: 49rem;
    width: 33.4rem;
    flex-shrink: 0;
    background: #ffd26c;
    display: flex;
    flex-direction: column;

    @include respond(tab-land) {
      width: 31rem;
    }

    @include respond(tab-port) {
      width: 28rem;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &--top {
      height: 70%;
      width: 100%;

      & img {
        object-fit: cover;
        display: block;
        height: 100%;
        width: 100%;
      }
    }

    &--bottom {
      padding: 3.5rem 4rem;

      &-label {
        color: #fff;
        font-size: 2.5rem;
        display: inline-block;
      }

      &-btn {
        display: inline-block;
        margin-top: 1.5rem;
        & button {
          border-radius: 20rem;
          padding: 1rem 3rem;
          background: red;
          color: #fff;
          display: inline-block;
          font-size: 1.5rem;
          cursor: pointer;
          border: none;
          outline: none;
        }
      }
    }
  }
}
