@font-face {
  font-family: Helvetica Bold;
  src: url("../fonts/helvetica_bold.ttf") format("opentype");
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fee600;
  height: 7.5rem;
  padding: 2rem 3rem;
  margin-bottom: 2rem;

  &__logo {
    height: 15rem;
    width: 15rem;
    transform: translate(-3.8rem, 1rem);
    z-index: 5;

    & img {
      object-fit: cover;
      display: block;
      height: 14rem;
      width: 14rem;
    }
  }

  &__menu {
    display: flex;
    align-items: center;

    @include respond(tab-land) {
      display: none;
    }

    &--item {
      font-size: 2rem;
      color: #000000;
      font-size: 1.9rem;
      font-family: Helvetica Bold;
      cursor: pointer;

      &:not(:last-child) {
        position: relative;
        padding: 1rem 2.6rem;
        height: 7rem;
        text-align: center;
        display: flex;
        align-items: center;

        &::before {
          content: "";
          height: 51%;
          width: 1.5px;
          background: #000000;
          position: absolute;
          right: 0;
        }

        &:nth-last-child(2) {
          &::before {
            opacity: 0;
          }
        }
      }

      & figure {
        height: 2rem;
        width: 2rem;

        & img {
          object-fit: cover;
          display: block;
          height: 100%;
          cursor: pointer;
          //width: 2.6rem;
        }
      }
    }

    &--mobile {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 5;

      & span {
        height: 0.6rem;
        width: 4rem;
        border-radius: 3rem;
        background: #000000;
        display: inline-block;
        margin: 0.3rem 0;
        transition: all 0.5s ease;
      }
    }
  }

  &__check {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    display: none;
  }

  &__check:checked ~ label > &__menu {
    &--mobile {
      & span {
        &:nth-child(1) {
          position: absolute;
          transform: rotate(135deg);
          left: 0;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-135deg);
          position: absolute;
          left: 0;
        }
      }
    }
  }

  &__check:checked ~ &__dropdown {
    transform: translateX(0);

    & span {
      display: inline-block;
    }
  }

  &__label {
    display: none;

    @include respond(tab-land) {
      display: block;
    }
  }

  &__dropdown {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #fee600;
    z-index: 4;
    padding: 13rem 0 0 4rem;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    transform: translateX(-100%);

    &--item {
      opacity: 0;
      padding: 3.5% 0;
      @include sideNavItemReveal;
    }

    & span {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 3rem;
      display: none;
    }

    &--socials {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      & p {
        font-size: 1.7rem;
      }
    }

    &--svgs {
      & span {
        display: inline-block;
        margin-right: 2rem;
      }

      & svg {
        height: 2rem;
        width: 2rem;
        fill: red;
      }
    }
  }
}
