@font-face {
  font-family: Lunchbox Regular;
  src: url("../fonts/lunchbox.otf") format("opentype");
}

.slider {
  position: relative;
  height: 60rem;
  margin-bottom: 2rem;

  @include respond(phone) {
    height: 40rem;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 5rem;
    line-height: 8rem;

    & h2 {
      color: #fff;
      line-height: 7rem;
      font-size: 11rem;
      font-family: Lunchbox Regular;
      line-height: 8rem;

      @include respond(phone) {
        font-size: 8rem;
        line-height: 6rem;
      }

      @media only screen and (max-width: 320px) {
        font-size: 7rem;
      }

      & span {
        display: block;
      }
    }

    & button {
      font-size: 1.7rem;
      color: #fff;
      background: red;
      border-radius: 28rem;
      padding: 1.5rem 4rem;
      font-weight: 600;
      cursor: pointer;
      border: navajowhite;
      outline: none;
      text-transform: uppercase;

      @include respond(phone) {
        padding: 1.5rem 2rem;
        font-size: 1.3rem;
      }

      @media only screen and (max-width: 320px) {
        font-size: 1.2rem;
      }
    }
  }

  &__slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 3s ease;
    opacity: 0;
    z-index: 1;

    @include backgroundImageStyle;
    //background-size: contain
  }

  &__slide--1 {
    background-image: url(../imgs/slider-1.jpg);

    @include respond(phone) {
      background-image: url(../imgs/400x288.jpg);
    }
  }

  &__slide--2 {
    background-image: url(../imgs/slider-2.jpg);

    @include respond(phone) {
      background-image: url(../imgs/400x288-slider2.jpg);
    }

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #000000;
      opacity: 0.2;
      transition: all 3s ease;
    }
  }

  &__slide--3 {
    background-image: url(../imgs/slider-3.jpg);

    @include respond(phone) {
      background-image: url(../imgs/400x288-slider3.jpg);
    }
  }
}
