.variants {
  display: flex;
  flex-direction: column;

  position: relative;
  height: 76rem;
  margin-top: 2rem;
  background-image: url("../imgs/product-hanger.jpg");
  padding: 5rem 7rem;
  overflow: hidden;

  @include respond(tab-port) {
    padding: 5rem 3rem;
  }

  @include respond(phone) {
    padding: 5rem 1rem;
    height: 53rem;
  }

  &__navi {
    position: absolute;
    top: 0;
    height: 100%;
    width: 5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 3;

    @include respond(tab-land) {
      display: none;
    }

    & span {
      cursor: pointer;
      display: inline-block;
      overflow: hidden;

      & svg {
        height: 7rem;
        width: 7rem;
        fill: #000000;
      }
    }

    &--left {
      left: 0;
      justify-content: start;
    }

    &--right {
      right: 0;
      justify-content: start;

      & span {
        transform: translateX(-2rem);
      }
    }
  }

  &__h2 {
    position: relative;
    font-size: 9rem;
    color: rgba(30, 39, 46, 0.6);
    z-index: 2;
    margin-bottom: 4rem;

    @include respond(phone) {
      font-size: 6rem;
    }
  }

  &__sliderwrap {
  }

  &__slide {
    display: flex;
    flex-shrink: 0;

    z-index: 1;

    &--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: red;
      flex-basis: 100%;
      flex-shrink: 0;
      transition: all 0.1s ease;

      &:nth-child(2) {
        opacity: 0;
        //display: none;
      }

      &:nth-child(3) {
        opacity: 0;
        display: none;

        @include respond(phone) {
          display: flex;
        }
      }
    }

    &--card {
      height: 50rem;
      flex-basis: 32%;
      background: #ffcf3b;

      &-mobile {
        display: none;

        @include respond(phone) {
          display: flex;
          flex-direction: column;
          height: 34.5rem;
          background: #ffcf3b;
          flex-basis: 49%;

          & figure {
            height: 28.5rem;
            background: url(../imgs/variant-placeholder.jpg);
          }

          &-1 {
            & figure {
              background: url(../imgs/variant-1.jpg);
            }
          }
        }
      }

      @include respond(phone) {
        display: none;
      }

      & figure {
        background: url(../imgs/variant-placeholder.jpg);
        height: 40rem;
      }

      &-1 {
        & figure {
          background: url(../imgs/variant-1.jpg);
        }
      }
    }
  }
}
